.App {
  text-align: center;
}

.grid {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.row, .block {
    display: flex;
    justify-content: center;
    margin: 3px;
}

.block {
    font-size: 40px;
    width: 56px;
    height: 51px;
    border: 1px solid;
    border-radius: 6px;
    padding-top: 8px;
    transition: color 0.2s ease;
}

.block.hit {
    color: #1AFE49;
}

.block.partial {
    color: #FBF665;
}

.block.miss {
    color: #575267;
}

.block.wrong {
    color: #de004e;
}

.keyboard {
    text-align: center;
    margin-top: 5px;
}

.keyboardRow {
    display: flex;
    justify-content: center;
}

.keyboardKey {
    font-size: 30px;
    padding: 5px 0;
    margin: 2px;
    display: flex;
    justify-content: center;
    cursor: pointer;
    border: 1px solid;
    border-radius: 6px;
    width: 50px;
    transition: color 0.2s ease-in-out;
}

.keyboardRow.controlRow {
    margin-top: 18px;
}

.keyboardKey.controlKey {
    width: 100px;
}

.keyboardKey.hit {
    color: #1AFE49;
}

.keyboardKey.partial {
    color: #FBF665;
}

.keyboardKey.miss {
    color: #575267;
}

.gameResult {
    margin-top: 8px;
}

.history {
    text-align: auto;
    display: flex;
    flex-direction: column;
    margin: 16px;
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
}

.historyRow {
    display: flex;
    font-size: 30px;
}

.historyRow > code {
    padding: 3px;
}
